:host ::ng-deep .terms-description h2 {
    font-size: 1.5rem;
}

:host ::ng-deep .terms-description p{
    text-align: justify !important;
}

:host ::ng-deep .terms-description ul{
    padding-left: revert;
}

:host ::ng-deep .terms-description li{
    list-style-type: circle;
}