<!-- <app-json-ld [schema]="product | jsonLD"></app-json-ld> -->
<section id="product-details" class="pt-2 pt-sm-3">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-12 vh-40">
                <div class="align-items-center d-flex flex-column h-100 justify-content-center">
                    <div class="embed-responsive embed-responsive-1by1 product-details-img">
                        <iframe width="600" height="450" frameborder="0" style="border:0"
                            class="embed-responsive-item p-1" [src]="googleMapsUrl" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
            <div class="col">
                <div>
                    <h2 class="my-3">
                        {{store.name | titlecase}}
                    </h2>
                    <h3 class="text-my-light mb-2 h6">
                        {{fullAddress | uppercase}}
                    </h3>
                    <ul *ngIf="false" class="features small">
                        <li class="mr-3">
                            <i class="h5 fas fa-map-marker-plus text-my-lgreen mr-1"></i>
                            {{store.distance  | number: '1.2-2'}} km de distância {{referencePoint}}
                        </li>
                    </ul>
                    <div>
                        Esta farmácia comercializa:
                        <ul class="px-3">
                            <li class="mr-3">
                                <i class="h5 fas fa-plus-square text-my-lgreen mr-1"></i>
                                <b>Medicamentos</b>
                            </li>
                            <ng-container *ngFor="let item of store.activities">
                                <li class="mr-3">
                                    <i class="h5 fas fa-plus-square text-my-lgreen mr-1"></i>
                                    {{item}}
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-8 container p-1">
            <h5 class="mb-1 text-center">
                Compre <b>mais rápido</b> que por <b>telefone</b>
            </h5>
            <a [routerLink]="['/']"
                class="btn btn-my-orange box-shadow--3dp text-white family-bold rounded-pill py-3 w-100 gtm-comprar-online-farmacia">
                <i class="fal fa-search-dollar mr-1 h5 m-0"></i>
                PEÇA ONLINE
            </a>
        </div>
        <div class="col-12 col-sm-8 container p-1">
            <button data-toggle="popover" placement="top" popoverTitle="Telefone" [ngbPopover]="popContent"
                (click)="goToStorePlacesPage()" appTrackable appTrackType="BEHAVIOR" appTrackName="ver-telefone"
                [appTrackData]="store"
                class="btn btn-my-green box-shadow--3dp text-white family-bold rounded-pill py-3 w-100 gtm-ver-telefone">
                <i class="fas fa-phone mr-1"></i>
                VER TELEFONE</button>
            <ng-template #popContent>
              <div style="max-width: 28rem; padding: 0em 1.4em; width: 100%; margin: 1rem auto; font-family: 'Inter', sans-serif;">
    <h1 style="font-size: 1.2rem; font-weight: 700; line-height: 1.5; color: #4A148C; text-align: center; margin-bottom: 0rem;">
        Não perca seu <span style="text-decoration: none; position: relative; display: inline-block;">Desconto!<span style="content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #7B3E9F;"></span></span>
    </h1>

    <p style="text-align: center; color: #52575c; font-size: 14px;">
        Obtenha até <b style="color: black; font-size: 15px;">60% de desconto</b> em medicamentos e muito mais!
    </p>

        <p style="margin: 1rem 0rem; background-color: #7B3E9F; display: flex; flex-direction: column; padding: 0px; align-items: center; justify-content: center;"> 
            <span style="font-size: 16px; font-weight: 700; color: #eeeeee; margin-bottom: 0.25rem;">
               <span style="color: #ffffff; font-size: 2rem; margin-right: 0.2rem;">+</span> Clude Saúde Acesso
            </span>
            <span style="font-size: 16px; color: #d8dbdf; font-weight: 600; padding-bottom: 10px">
                R$4,90/mês ou R$39,90/ano
            </span>
        </p>

    <ul style="list-style: none; margin-bottom: 1rem; padding-left: 0; font-size: 14px;">
        <li style="display: flex; align-items: flex-start; margin-bottom: 0.5rem;">
            <span style="color: #7B3E9F; margin-right: 0.5rem;">&#8226;</span>
            <p style="margin: 0; flex-grow: 1;">Desconto em exames e consultas com médicos especialistas de <span style="position: relative; display: inline-block; font-weight: 600;">R$90,00<span style="content: ''; position: absolute; left: 0; right: 0; top: 50%; height: 1px; background-color: currentColor; transform: translateY(-50%);"></span></span> por <b style="color: #16A34A;">R$45,00</b></p>
        </li>
        <li style="display: flex; align-items: flex-start; margin-bottom: 0.5rem;">
            <span style="color: #7B3E9F; margin-right: 0.5rem;">&#8226;</span>
            <p style="margin: 0; flex-grow: 1;"><b>50% de desconto</b> em pronto atendimento digital, consultas com nutricionistas e psicólogos.</p>
        </li>
        <li style="display: flex; align-items: flex-start; margin-bottom: 0.5rem;">
            <span style="color: #7B3E9F; margin-right: 0.5rem;">&#8226;</span>
            <p style="margin: 0; flex-grow: 1;">Acesso a uma equipe média via chat <b style="color: #2563EB;">gratuita!</b></p>
        </li>
        <li style="display: flex; align-items: flex-start; margin-bottom: 0.5rem;">
            <span style="color: #7B3E9F; margin-right: 0.5rem;">&#8226;</span>
            <p style="margin: 0; flex-grow: 1;">Monitoramento contínuo de saúde, <b style="color: #16A34A;">sem custo!</b></p>
        </li>
    </ul>

    <div style="text-align: center;">
        <button style="background-color: #4A148C; color: #ffffff; font-weight: 700; padding: 0.75rem 1.5rem; border-radius: 0.5rem; border: 2px dashed #FF0000;">
            Garanta o Desconto
        </button>
    </div>
</div>
            </ng-template>
        </div>
        <div *ngIf="storesRanking?.length" class="mt-3">
            <h5 class="text-center">Melhores farmácias online próximas</h5>
            <app-stores-rank-table class="w-100 shadow-sm " [stores]="storesRanking"></app-stores-rank-table>
        </div>
    </div>
</section>