<section class="pt-2 pt-sm-3">
    <!-- <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb> -->
    <div class="col-lg-12 text-center middle-text pt-3">
        <i class="fal fa-trophy-alt h3 text-my-lgreen"></i>
        <h3 class="text-my-lgreen family-bold font-italic mb-2">
            Melhores farmácias online por região</h3>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-7 mb-3 px-1">
                <div class="d-flex flex-column grid-item h-100 justify-content-between">
                    <app-stores-rank-table [stores]="stores"></app-stores-rank-table>
                </div>
            </div>
        </div>
    </div>
</section>