<section class="pt-2 pt-sm-3">
    <!-- <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb> -->
    <div class="col-lg-12 text-center middle-text pt-3">
        <h3 class="text-my-lgreen family-bold font-italic mb-2">
            Nossos planos</h3>
    </div>
    <div class="container">
        <div class="row">
            <div *ngIf="false" class="card col-12 col-md-4 shadow-sm mb-1 px-1">
                <i class="fa fa-5x fa-badge-check mt-3 text-center text-my-blue"></i>
                <div class="card-body px-0">
                    <h5 class="card-title text-center">BÁSICO</h5>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            +100 pontos de Bônus
                        </li>
                        <li class="mt-3">
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            Concorra em 30% dos pedidos da sua região, em média
                        </li>
                    </ul>
                    <p class="text-center">Grátis!</p>
                    <p class="card-text text-center"><a [routerLink]="[ '/contato']"
                            class="btn btn-primary">Assinar!</a></p>
                </div>
            </div>
            <div class="card col-12 col-md-4 shadow-sm mb-1 px-1">
                <i class="fa fa-5x fa-medal mt-3 text-center text-my-bronze"></i>
                <div class="card-body px-0">
                    <h5 class="card-title text-center">BRONZE</h5>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            +300 pontos de Bônus
                        </li>
                        <li class="mt-3">
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            Concorra em 60% dos pedidos da sua região, em média
                        </li>
                    </ul>
                    <p class="text-center">R$ 49,00 / mês</p>
                    <p class="card-text text-center"><a [routerLink]="[ '/contato']"
                            class="btn btn-primary">Assinar!</a></p>

                </div>
            </div>
            <div class="card col-12 col-md-4 shadow-sm mb-1 px-1">
                <i class="fa fa-5x fa-medal mt-3 text-center text-my-silver"></i>
                <div class="card-body px-0">
                    <h5 class="card-title text-center">PRATA</h5>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            +400 pontos de Bônus
                        </li>
                        <li class="mt-3">
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            Concorra em 75% dos pedidos da sua região, em média
                        </li>
                    </ul>
                    <p class="text-center">R$ 69,00 / mês</p>
                    <p class="card-text text-center"><a [routerLink]="[ '/contato']"
                            class="btn btn-primary">Assinar!</a></p>

                </div>
            </div>
            <div class="card col-12 col-md-4 shadow-sm mb-1 px-1">
                <i class="fa fa-5x fa-medal mt-3 text-center text-my-gold"></i>
                <div class="card-body px-0">
                    <h5 class="card-title text-center">OURO</h5>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            +500 pontos de Bônus
                        </li>
                        <li class="mt-3">
                            <i class="fa-li fa fa-plus-square text-my-lgreen"></i>
                            Concorra em 100% dos pedidos da sua região!
                            <span style="visibility: hidden;"> em média</span>
                        </li>
                    </ul>
                    <p class="text-center">R$ 129,00 / mês</p>
                    <p class="card-text text-center">
                        <a [routerLink]="[ '/contato']" class="btn btn-primary">Assinar!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 text-center middle-text pt-3">
        <h3 class="text-my-lgreen family-bold font-italic mb-2">
            Pontuações</h3>
    </div>
    <div class="col-12">
        <p class="text-center">Farmácias com pontos negativos não recebem mais pedidos!</p>
        <p class="text-center">Quanto maior a sua pontuação, mais pedidos você receberá!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6"> <img src="assets/img/pedidos-1.png"> </div>
            <div class="col-12 col-md-6"> <img src="assets/img/pedidos-2.png"> </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12 text-center middle-text pt-3">
            <h3 class="text-my-orange family-bold font-italic mb-2">
                Quer mais exclusividade?</h3>
            <div class="col-12">
                <p class="text-center">Tenha seu próprio <b>e-commerce e aplicativo</b>! Conheça o</p>
                <p><img src="https://www.webfarmas.com/images/logo-black.png"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="https://www.webfarmas.com">
                    <img src="assets/img/feat1.png">
                    <p class="text-center"><button class="btn btn-primary">Saiba mais</button>
                    </p>
                </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <a href="https://www.webfarmas.com">
                    <img src="assets/img/feat2.png">
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="https://www.webfarmas.com">
                    <img src="assets/img/feat3.png">
                    <p class="text-center">
                        <button class="btn btn-primary">Saiba mais</button>
                    </p>
                </a>

            </div>
        </div>
    </div>
</section>