<!-- <section [class.floating]="isFloating">
    <div class="overflow-auto">
        <div class="d-flex">
            <div class="col-8 col-lg-4">
                <div class="product-item p-4 h-100">
                    <div class="text-center">
                        <h3 class="green font-weight-bold">Medicamentos</h3>
                        <img src="assets/img//product-01.png" alt="Product Image" class="img-fluid" style="max-height: 9rem;">
                    </div>
                    <h4>Entrega Grátis</h4>
                    <p>Remédio bom, é remédio que chega na hora</p>
                </div>
            </div>
            <div class="col-8 col-lg-4">
                <div class="product-item p-4  h-100">
                    <div class="text-center">
                        <h3 class="yellow font-weight-bold">Perfumaria</h3>
                        <img src="assets/img//product-02.png" alt="Product Image" class="img-fluid" style="max-height: 9rem;">
                    </div>
                    <h4>Entrega Grátis</h4>
                    <p>Remédio bom, é remédio que chega na hora</p>
                </div>
            </div>
            <div class="col-8 col-lg-4">
                <div class="product-item p-4 h-100">
                    <div class="text-center">
                        <h3 class="blue font-weight-bold">Cosméticos</h3>
                        <img src="assets/img/product-03.png" alt="Product Image" class="img-fluid" style="max-height: 9rem;">
                    </div>
                    <h4>Entrega Grátis</h4>
                    <p>Remédio bom, é remédio que chega na hora</p>
                </div>
            </div>
        </div>
    </div>
</section> -->